body {
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	background-color: bisque;
}

.center {
  margin: auto;
  width: 800px;
}

img {
	width: 790px;
	border: 10px solid salmon;
}

p {

	text-align: left;
	margin-left: 10px;
	/* border: 5px  */
	}

.ingredients {
	color: rgb(132, 190, 241);
}

.steps {
	color: rgb(57, 185, 142);
	/* color: rgb(157, 247, 217); */
}

.description {
	color: red;
}

.flavour-text {
	color: red;
	background-color: rgb(245, 160, 150);
	border: 5px solid rgb(245, 160, 150);
	margin-left: 10px;
}

ul {
	background-color: aliceblue;
	color: rgb(132, 190, 241);
	margin-left: 10px;
	border: 10px solid aliceblue;
}

ol {
	background-color: rgb(157, 247, 217);
	border: 10px solid rgb(157, 247, 217);
	margin-left: 10px;
	/* list-style-position:inside; */
	color: rgb(57, 185, 142);
}

h1, h2, h3 {
	font-family: Caslon, Lusitana, serif;
}

.heading {
	color: salmon;
}

.links {
	text-align: center;
}

.footer {
	text-align: center;
	font-size: 10px;
}